h1 {
    color: white;
}

li {
    list-style-type: none;
    font-size: 24px;
}

#search {
    position: relative;
    height: 90vh;
} 


#weather-today {
    position: relative;
    height: 40vh;
} 

#five-day-forecast {
    position: relative;
    height: 40vh;
} 