:root {
    --span-font-color: black;
}

h1 {
    color: white;
}

li {
    list-style-type: none;
    font-size: 24px;
}

#search {
    position: relative;
    height: 80vh;
} 


#weather-today {
    position: relative;
    height: 35vh;
} 

#five-day-forecast {
    position: relative;
    height: 35vh;
} 


#uv-index-low {
    color: var(--span-font-color);
    background-color: green;
}

#uv-index-moderate {
    color: var(--span-font-color);
    background-color: yellow;
}

#uv-index-high {
    color: var(--span-font-color);
    background-color: orange;
}

#uv-index-very-high {
    color: var(--span-font-color);
    background-color: red;
}

#uv-index-not-available {
    color: var(--span-font-color);
    background-color: blueviolet;
}